@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search-bar{
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, 100%);

}

.search-input{  float: left;
  width: 100%;
  border: 3px solid #000000;
  padding: 11px;
  height: 38px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.search-input:focus{
  color: #00B4CC;
}

.search-button{
    position: absolute;
  right: 16px;
  width: 50px;
    top: 1px;
  height: 36px;
  border: 1px solid #000000;
  background: #000000;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
    border-color: #0a104f;
}

