{% extends '__header.html' %}
{% load staticfiles %}
{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}
{% block stylesheet %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/login.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <section class="container">
    <div class="login">
        <h1>Login to the Web App</h1>
        <form method="post" action="user_login.html">

        </form>
    </div>
    </section>
{% endblock %}